{% extends "base_generic.html" %}
{% load static crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card">
        <a class="text-decoration-none" data-bs-toggle="collapse" href="#logFormCollapse" role="button"
          aria-expanded="false" aria-controls="logFormCollapse">
          <div class="card-header text-center">
            <h2 class="h4 h-lg-2">
              Add to Log
            </h2>
          </div>
        </a>
        <div id="logFormCollapse" class="collapse">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group row d-flex align-items-center">
                <div class="col-10 col-md-11">
                  {{ log_form.subject|as_crispy_field }}
                </div>
                <div class="col-2 col-md-1 p-0">
                  <a data-bs-toggle="modal" data-bs-target="#subjectModal"
                    class="text-success d-flex align-items-end justify-content-center pt-3">
                    <i class="fas fa-plus-circle fa-2x"></i>
                  </a>
                </div>
              </div>
              <div class="form-group">
                {{ log_form.time_spent|as_crispy_field }}
                {{ log_form.location|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ log_form.description|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ log_form.date|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ log_form.student|as_crispy_field }}
              </div>
              <div class="text-center mt-4">
                <button type="submit" name="log_form" class="btn btn-primary">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Tabs -->
      <ul class="nav nav-tabs mt-3" id="logTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="daily-log-tab" data-bs-toggle="tab" href="#daily-log" role="tab"
            aria-controls="daily-log" aria-selected="true">Daily Log</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="weekly-log-tab" data-bs-toggle="tab" href="#weekly-log" role="tab"
            aria-controls="weekly-log" aria-selected="false">Weekly Log</a>
        </li>
      </ul>
      <div class="tab-content mt-3" id="logTabsContent">
        <!-- Daily Log Tab -->
        <div class="tab-pane fade show active" id="daily-log" role="tabpanel" aria-labelledby="daily-log-tab">
          <div class="accordion" id="dailyAccordion">
            {% for student in student_info %}
            <div class="card">
              <div class="card-header" id="headingDaily{{ student.id }}">
                <h2 class="mb-0">
                  <button class="btn btn-link p-0 text-decoration-none w-100 text-start" type="button"
                    data-bs-toggle="collapse" data-bs-target="#dailyLogCollapse{{ student.id }}"
                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                    aria-controls="dailyLogCollapse{{ student.id }}">
                    {{ student.first_name }} {{ student.last_name }}
                  </button>
                </h2>
              </div>
              <div id="dailyLogCollapse{{ student.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="headingDaily{{ student.id }}" data-bs-parent="#dailyAccordion">
                <div class="card-body">
                  {% if daily_log_info %}
                  <h2 class="text-center h5 h-lg-2">{{ today|date:'l - F j, Y' }}</h2>
                  <h4 class="text-center mt-3">Daily Lesson Plan</h4>
                  {% else %}
                  <h4 class="text-center mt-3">Nothing Logged for Today!</h4>
                  {% endif %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for log in daily_log_info %}
                      {% if student == log.student %}
                      <tr>
                        <td>{{ log.subject.name }}</td>
                        <td>{{ log.description }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                  {% if daily_log_info %}
                  <h4 class="text-center mt-3">Daily Hours Logged</h4>
                  {% else %}
                  <h4 class="text-center mt-3">Nothing Logged for Today!</h4>
                  {% endif %}
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Time Spent</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for log in daily_log_info %}
                      {% if student == log.student %}
                      <tr>
                        <td>{{ log.subject }}</td>
                        <td>{{ log.time_spent }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Weekly Log Tab -->
        <div class="tab-pane fade" id="weekly-log" role="tabpanel" aria-labelledby="weekly-log-tab">
          <div class="accordion" id="weeklyAccordion">
            {% for student in student_info %}
            <div class="card">
              <div class="card-header" id="headingWeekly{{ student.id }}">
                <h2 class="mb-0">
                  <button class="btn btn-link p-0 text-decoration-none w-100 text-start" type="button"
                    data-bs-toggle="collapse" data-bs-target="#weeklyLogCollapse{{ student.id }}"
                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                    aria-controls="weeklyLogCollapse{{ student.id }}">
                    {{ student.first_name }} {{ student.last_name }}
                  </button>
                </h2>
              </div>
              <div id="weeklyLogCollapse{{ student.id }}" class="collapse {% if forloop.first %}show{% endif %}"
                aria-labelledby="headingWeekly{{ student.id }}" data-bs-parent="#weeklyAccordion">
                <div class="card-body">
                  {% for date, logs in grouped_weekly_logs.items %}
                  <h4 class="text-center mt-3">{{ date|date:'l - F j, Y' }}</h4>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time Spent</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for log in logs %}
                      {% if log.student == student %}
                      <tr>
                        {% if log.subject %}
                        <td>{{ log.subject.name }}</td>
                        {% else %}
                        <td>{{ log.required_subject.name }}</td>
                        {% endif %}
                        <td>{{ log.description }}</td>
                        <td>{{ log.time_spent }}</td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectModalLabel">Add Subject</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="subjectForm">
          {% csrf_token %}
          {{ subject_form|crispy }}
          <div class="text-center mt-3">
            <button type="submit" name="subject_form" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script>
  $(function () {
    $(".datepicker").datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
</script>
{% endblock %}