{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Button to trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subjectModal">
  Add Subject
</button>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Add Subject</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ log_form|crispy}}
            <div class="text-center">
              <button type="submit" name="log_form" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="subjectModalLabel">Add Subject</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="subjectForm">
          {% csrf_token %}
          {{ subject_form|crispy }}
          <div class="text-center mt-3">
            <button type="submit" name="subject_form" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}